{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>

<body>

    <!-- Header -->
    <header>
        <div class="logo-image">
            <img src="{% static 'images/lohae_logo.png'%}" width="190" height="190">
        </div>
    </header>

    <!-- NAV VAR -->
    <nav>
        <div class="go-to-buy">
            <div class="go-to-buy-text">
                구매하러 가기
            </div>
        </div>
        <div class="send-message">
            <div class="send-message-text">
                응원 메세지 보내기
            </div>

            <div class="nav-login">
                로그인
            </div>

        </div>

    </nav>

    <!-- Main Content -->
    <main>
        <div class="red-box">
            {% block content%}

            {% endblock %}
        </div>
    </main>


    <!-- Footer -->
    <footer>
        footer
    </footer>

</body>

</html>