{% extends 'base.html' %}
{% load static %}

{% block title%}LOHAE - 구매하기{% endblock %}

{% block link %}{% static 'css/productlist.css' %}{% endblock %}

<!-- Main content -->

{% block content%}

<p class="box-title">최근 인기 추가 상품</p>

<!-- 최근 인기 추가 상품 이미지 -->
<div class="recent-list">

    <div class="recent-product-box">

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

        <div class="recent-product">
            <div class="recent-image">
                <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
            </div>
            <div class="recent-name">
                상품명
            </div>
        </div>

    </div>

</div>

<p class="box-title">판매 중인 랜덤박스</p>

<!-- 판매 중인 랜덤 박스 이미지 -->

<div class="random-list">

    <div class="random-product-box">

        <a href="{% url 'buy_item' %}">
            <div class="random-product">
                <div class="random-image">
                    <img class="each-image" src="{% static 'images/소독랜덤박스2.png'%}">
                </div>
                <div class="random-body">
                    <div class="random-title">
                        소독 관련 랜덤박스
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'buy_item2' %}">
            <div class="random-product">
                <div class="random-image">
                    <img class="each-image" src="{% static 'images/즐거움랜덤박스.png'%}">
                </div>
                <div class="random-body">
                    <div class="random-title">
                        즐거움 관련 랜덤박스
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'buy_item' %}">
            <div class="random-product">
                <div class="random-image">
                    <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
                </div>
                <div class="random-body">
                    <div class="random-title">
                        전자기기 랜덤박스
                    </div>

                </div>
            </div>
        </a>

        <a href="{% url 'buy_item' %}">
            <div class="random-product">
                <div class="random-image">
                    <img class="each-image" src="{% static 'images/randombox_image.jpg'%}">
                </div>
                <div class="random-body">
                    <div class="random-title">
                        간식 랜덤박스
                    </div>
                </div>
            </div>
        </a>


    </div>
</div>

{% endblock %}