{% extends 'base.html' %}
{% load static %}

{% block title%}LOHAE - 응원 메시지 쓰기{% endblock %}

{% block link %}{% static 'css/write_messages.css' %}{% endblock %}


<!-- Main Content -->

{% block content %}

<p class="white-box-title">코로나19로 인해 고생하는 의료진들에게 랜덤박스 선물 가능</p>

<div class="white-box">

    <!-- 랜덤박스 고르기 -->
    <div class="mini-box-list">

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/홍삼.jpg'%}"></div>
            <div class="box-title">홍삼세트</div>
            <input type="radio" id="radio" name="rd" checked>
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/영양제.jpg'%}"></div>
            <div class="box-title">영양제</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/스팸세트.jpg'%}"></div>
            <div class="box-title">스팸 세트</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/과일바구니.jpg'%}"></div>
            <div class="box-title">과일 바구니</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/유산균.jpg'%}"></div>
            <div class="box-title">유산균</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/아이스조끼.png'%}"></div>
            <div class="box-title">아이스조끼</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/박카스.jpg'%}"></div>
            <div class="box-title">박카스</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/에너지바.jpg'%}"></div>
            <div class="box-title">에너지바</div>
            <input type="radio" id="radio" name="rd">
        </div>
    </div>
    <hr text-align="center"
        style="border: solid 3px rgb(230, 58, 69); background-color: rgb(230, 58, 69); width: 1000px;">

    <!-- 의료진에게 메시지 쓰기 -->

    <h4 class="write-a-message">코로나 담당 의료진에게 응원 메시지 쓰기</h4>

    <div class="mini-box-list-of-message">

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/구급차.jpg'%}"></div>
            <div class="box-title">코로나 담당 이송 기사</div>
            <input type="radio" id="message" name="rd" checked>
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/간호사.jpg'%}"></div>
            <div class="box-title">코로나 담당 간호사</div>
            <input type="radio" id="message" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box"><img class="each-image" src="{% static 'images/의사.jpg'%}"></div>
            <div class="box-title">코로나 담당 의사</div>
            <input type="radio" id="message" name="rd">
        </div>

        <!-- Js -->
        <script language="javascript">
            function msg() {
                if (confirm("구매 완료했습니다.")) {
                    window.location.href = "{% url 'main' %}"
                }
            }
        </script>


        <div class="message-box">
            <form method="POST" action="">
                {% csrf_token %}
                {{msg_form}}
                <div class="submit-btn"><input type="submit" value="구매하기" class="submit-btn-btn" onclick="msg()">
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}