{% extends 'base.html' %}
{% load static %}

{% block title%}LOHAE - 구매하기{% endblock %}

{% block link %}{% static 'css/write_messages.css' %}{% endblock %}

<!-- Main Content -->

{% block content %}

<p class="white-box-title">코로나19로 인해 고생하는 의료진들에게 랜덤박스 선물 가능</p>

<div class="white-box">
    <div class="mini-box-list">
        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd" checked>
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>
    </div>

    <hr align="center" style="border: solid 3px rgb(230, 58, 69); background-color: rgb(230, 58, 69); width: 1000px;">

    <p class="message-title">코로나 담당 의료진들에게 응원 메세지 쓰기</p>
    <div class="mini-box-list">

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

        <div class="mini-box-of-box">
            <div class="mini-box">이미지</div>
            <div class="box-title">이름</div>
            <input type="radio" id="radio" name="rd">
        </div>

    </div>

    <div class="text-message">
    <input class="text-box" type="text" value="메시지를 입력하세요.">
    </div>

</div>




{% endblock %}