@font-face {
    font-family: Cafe24Dangdanghae;
    src: url("/static/fonts/Cafe24Dangdanghae.ttf");
}

.title {
    color: rgb(255, 248, 236);
    margin-left: 50px;
    font-family: Maplestory_Bold;
}

.button1 {
    width: 100px;
    height: 30px;
    background-color: rgb(230, 58, 69);
    color: rgb(255, 248, 236);
    border: none;
    margin: 20px;
    margin-left: 200px;
}

.button3 {
    width: 100px;
    height: 30px;
    background-color: rgb(230, 58, 69);
    color: rgb(255, 248, 236);
    border: none;
    margin: 20px;
    margin-left: 10px;
}