@font-face {
    font-family: Maplestory_Bold;
    src: url("/static/fonts/Maplestory_Bold.ttf");
}

@font-face {
    font-family: Cafe24Dangdanghae;
    src: url("/static/fonts/Cafe24Dangdanghae.ttf");
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.white-box-title {
    margin: 0 0 5px 10px;
    font-size: 20px;
    color: white;
    font-family: Maplestory_Bold;
}

.white-box {
    background-color: white;
    margin: 10px;
    height: auto;
    border: 1px solid white;
}

.mini-box-list {
    margin: 10px 25px;
    border: 4px solid white;
    text-align: center;
}

.mini-box-of-box {
    display: inline-block;
    padding: 10px;
    height: auto;
    width: 160px;
    /* border: 1px solid black; */
    margin-top: 20px;
    text-align: center;
    margin-left: 25px;
}

.mini-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: solid rgba(255, 255, 255, .100) 0.1px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .25);
    align-items: center;
}

.box-title {
    font-family: 'RIDIBatang';
    color: black;
    text-align: center;
    padding-top: 10px;
}

.write-a-message {
    font-family: Maplestory_Bold;
    color: black;
    padding-left: 10px;
    font-size: 30px;
    margin-top: 35px;
}

.mini-box-list-of-message { 
    text-align: left;
}

.message {
    border:none;
    width: 1000px;
    height: 200px;
    font-size: 30px;
    background-image: url("/static/images/memo.png");
    padding-left: 15px;
    line-height: 50px;
}

textarea:focus {
    outline: none;
}

.submit-btn {
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn-btn {
    vertical-align: bottom;
    background: rgb(230, 58, 69);
    color: rgb(255, 248, 236);
    border: none;
    position: relative;
    height: 30px;
    font-size: 12px;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

#id_content{
    border:none;
    width: 1000px;
    height: 200px;
    font-size: 30px;
    background-image: url("/static/images/memo.png");
    padding-left: 15px;
    line-height: 50px;
}

.message-title {
    padding-left: 10px;
    font-size: 20px;
}

.text-message {
    width: 1000px;
    margin-left: 10px;
    margin-right: 10px;

}

.text-box {
    width: 1000px;
    height: 500px;
    height: 200px;
    font-size: 30px;
    background-image: url("/static/images/memo.png");
    padding-left: 15px;
    line-height: 50px;
}

.each-image{
    width: 100%; 
    height: 100%;
    border-radius: 20px 20px 20px 20px;
}